@import "../../com/variables";

.header {
  background-color: $blue;
  color: #fff;
  @include shadow;
  .rainbow {
    height: 3px;
  }
  .header-height {
    height: 50px;
  }
  .nav-logo {
    padding: 0 $spacer;
    a {
      color: inherit;
      line-height: normal;
      font-size: 1.5rem;
      &:after {
        font-size: 18px;
        opacity: .4;
        content: "\AC";
      }
      @include hover-focus-active {
        text-decoration: none;
      }
    }
  }
  .nav-wrap {
    display: flex;
    align-self: stretch;
    align-items: flex-end;
    padding: 0 10px;
    li {
      padding: 5px 10px;
    }
    a {
      color: #d3e2fc;
      text-transform: capitalize;
    }
  }
}