@import "../../com/variables";

.stripe-bg {
  @include size(200px);
  background: repeating-linear-gradient(-45deg, green 0 3px, #f8f8f8 0 2rem);
  border-radius: 4px;
  @include shadow;
}

.shine-button {
  margin-top: 20px;
  color: #08123d;
  border-radius: 40px;
  @include size(200px, 40px);
  background: linear-gradient(88deg, #e7924e 0%, #f8ffee 50%, #e7924e 100%);
  box-shadow: 0 -5px 0 #936237;
  display: flex;
  line-height: normal;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
