@import "../common";

.coo-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .coo-wrap {
    width: 130px;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 10px 15px 20px 15px;
  }
  .coo-icon {
    &.coo-success {
      width: 30%;
      padding-top: 50%;
      border-bottom: 5px solid #fff;
      border-right: 5px solid #fff;
      transform: rotate(45deg);
      margin-left: 35%;
    }
    &.coo-fail {
      width: 60%;
      padding-top: 54%;
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 34px;
        left: 20px;
        width: 100%;
        height: 5px;
        background-color: #fff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    &.coo-info {
      width: 5px;
      height: 38px;
      background-color: #fff;
      margin: 14px auto 3px auto;
      position: relative;
      &:after {
        content: '';
        width: 5px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        bottom: -10px;
      }
    }
  }
  .coo-text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
    line-height: 1.3;
    word-break: break-all;
    max-height: 123px;
    overflow: hidden;
  }
}