@import "../../com/variables";

.index {
  .avatar {
    @include square(160px);
    object-fit: cover;
    border-radius: 50%;
    @include shadow;
  }

  @keyframes propeller {
    0% {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(2turn)
    }
  }
  .propeller {
    @include square(36px);
    flex: none;
    background-image: url("/blog/assets/propeller.png");
    background-size: cover;
    animation: propeller 1s steps(36) infinite
  }
}