*{
  font-size: 62.5%;
  font-family:"Microsoft YaHei",Helvetica,'sans-serif';
}

.cropper{
  padding-top:20px;
  .cropper-warp{
    margin-bottom:10px;
    height: 400px;
  }
  .img-preview{
    overflow: hidden;
  }
}